*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color:black;
    }

header h1 {
    padding: 5px;
    color:black;
    background-color:;
    margin-left: 10px;
}

nav ul {
    display: flex; 
    justify-content: space-between;
    min-width: 300px;
    list-style:none;
    margin-right: 30px;
}

nav a{
    color:mintcream;
}

#leaves{
    background-image: url(../leaves.jpg);
    height: 200px;
    width: 100%;
    margin-bottom: 10px;
    background-size: cover;
    /* took out "background-position: center;" because 
    it didn't seem to make a difference in this context.  */
}

main {
    background-color:black;
    color: mintcream;
}

#about-me{
    display: flex;
    flex-direction: row;
}
    
.Marianne {
    height: 200px;
    width: 150px;
}

#about-me h1 {
    flex-direction: column;
    padding: 15px;
    border-right: 2px solid;
}
#about-me-text{
    flex-direction: column; 
    margin-left: 50px;  
}

#work {
    display: flex;
    flex-direction: row;
 }

#work h1 {
    padding: 15px;
    border-right: 2px solid;
    margin-left: 190px;
}

#projects {
    display: flex;
    flex-direction: row;
}

.canopy-1 {
    height: 300px;
    width: 400px;
    justify-content: center;
    margin-left: 0px;
}


#contact-me {
    display: flex;
    flex-direction: row;    
}

#contact-me h1{
    padding: 15px;
    border-right: 2px solid;
    margin-left: 150px;
}

#contact-me nav ul li {
    display: flex;
    /* min-width? */
    justify-content: space-around;
    margin-left: 50px;
}

