*{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color:black;
    }

header h1 {
    padding: 5px;
    color:lightgreen;
    margin-left: 10px;
}

nav ul {
    display: flex; 
    justify-content: space-between;
    min-width: 300px;
    list-style:none;
    margin-right: 30px;
    color: white;
}

header nav a{
    color:white;
}

#leaves{
    background-image: url(./leaves.jpg);
    height: 200px;
    width: 100%;
    margin-bottom: 10px;
    background-size: cover;
}

main {
    background-color:white;
    color:navy;
}

#about-me{
    display: flex;
    flex-direction: row;
}
    
.Marianne {
    height: 300px;
    width: 300px;
}

#about-me h1 {
    padding: 15px;
    border-right: 2px solid;
}

#about-me-text{
    flex-direction: column; 
    margin-left: 50px;  
}

#work {
    display: flex;
    flex-direction: row;
 }

#work h1 {
    padding: 15px;
    border-right: 2px solid;
    margin-left: 200px;
}

#projects nav ul {
    display: flex;
    flex-flow: row wrap;
    max-width: 808px;
}

.placeholder-1 {
    height: 600px;
    width: 800px;
    align-content: space-around;
    padding:2px;
}

.placeholder-2 {
    height: 300px;
    width:400px;
    justify-content: center;
    padding:2px;
}

#contact-me {
    display: flex;
    flex-direction: row;    
}

#contact-me h1{
    padding: 15px;
    border-right: 2px solid;
    margin-left: 130px;
}

#contact-me nav ul li {
    display: flex;
    justify-content: space-around;
    margin-left: 50px;
    color:navy;
}

