/* About Page */
.about {
  position: relative;
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  margin: 5% auto;
}

.about-me {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 0, 0, 0.9);
  padding: 1.5rem;
  color: white;
  width: fit-content;
}
.about h1 {
  text-align: center;
  margin-bottom: 2%;
}
.bio {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
.Marianne {
  max-height: 200px;
  max-width: 200px;
}
.about p {
  flex-direction: column;
  text-align: justify;
  width: 90%;
  margin-left: 5%;
}

@media (max-width: 900px) {
  .about {
    width: 70%;
  }
  .bio {
    flex-flow: row wrap;
  }
  .Marianne {
    margin-bottom: 3.5%;
  }
  .about p {
    margin-left: 0;
  }
}
