/* Contact Page */

/* TODO: 
Create "Copied to clipboard!" for email address.
Align email line.*/

.contact-page {
  position: relative;
  display: flex;
  width: 40%;
  flex-direction: column;
  align-content: center;
  margin: 5% auto;
}

.contact {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 0, 0, 0.9);
  padding: 2rem;
  color: white;
  width: fit-content;
}

.contact-page h1 {
  text-align: center;
  margin-bottom: 0;
}

.contact-info ul {
  list-style: none;
  flex-wrap: nowrap;
  white-space: nowrap;
  text-align: left;
}

.contact-info ul li {
  margin-top: 3.5%;
}

.contact-info ul li div {
  cursor: pointer;
}

.email {
  margin-right: 2%;
}

.github {
  margin-right: 2%;
}

.linkedin {
  margin-right: 2%;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  color: white;
}

@media (max-width: 900px) {
  .contact-page {
    align-items: center;
  }

  .contact {
    margin-top: 4em;
  }

  .contact-page h1 {
    margin-bottom: 0.4em;
  }

  .contact-info {
    font-size: 0.5em;
  }

  .contact-info ul {
    flex-wrap: wrap;
    white-space: normal;
    text-align: left;
  }

  .email {
    font-size: 1.45em;
  }

  .github {
    font-size: 1.25em;
  }

  .linkedin {
    font-size: 1.15em;
  }
}
