/* Projects Page */
#projects {
  padding: 2rem 1rem 4rem 1rem;
  display: grid;
  place-items: center;
}
#projectCards {
  min-height: 100%;
  display: grid;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
#projectCards > div {
  flex-basis: calc(20% - 40px);
}
.card {
  margin: 20px;
}
