/* Projects Page */
/* TODO: Eliminate links and make titles a button instead with pointer cursor.
Make images in cards the same size. 
Fix responsive.*/
.projects {
  padding-top: 2rem;
  display: grid;
  place-items: center;
}

.card {
  padding: 0px !important;
  text-align: center;
}

.link {
  color: black;
}

/* #projectCards {
  min-height: 100%;
  display: grid;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
/* #projectCards > div {
  flex-basis: calc(20% - 40px);
} */
/* .container {
  margin: 20px;
  min-height: 100%;
  display: grid;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.container > div {
  flex-basis: calc(20% - 40px);
} */
