/* Projects Page */
/* TODO: Fix responsive.*/
.projects {
  padding-top: 7rem;
  display: grid;
  place-items: center;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

.card {
  padding: 0px !important;
  text-align: center;
  font-size: 1.1em;
}

.link {
  color: black;
}

@media (max-width: 900px) {
  .projects {
    padding-top: 3rem;
  }

  .card {
    width: fit-content;
  }
}
