.resume-page {
  width: 80%;
  margin: auto;
}

iframe {
  display: block;
  width: 80%;
  height: 210vh;
  margin: 5% 10%;
  padding-bottom: 8%;
}

/* This is not working. */
/* @media (max-width: 900px) {
  iframe {
    height: 110vh;
    padding: 8%;
  }
} */
