/* Header/NavBar */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  width: 100%;
  padding: 10px;
}
header h1 {
  color: white;
  margin-left: 0.625rem;
}
header ul {
  display: flex;
  gap: 3em;
  list-style: none;
  margin-right: 1.875rem;
}
header ul a {
  color: white;
}
.mobileNavBar {
  display: none;
}

@media (max-width: 990px) {
  .navBar {
    display: none;
  }
  .mobileNavBar {
    display: flex;
    align-items: center;
    z-index: 99;
  }
  .hamburger {
    position: absolute;
    right: 5%;
    color: white;
    cursor: pointer;
  }
  .mobileNavBar ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 15vh;
    width: 20%;
    background-color: rgba(241, 242, 247, 0.735);
  }
  .mobileNavBar ul a {
    color: black;
    font-size: 1.25em;
  }
  header h1 {
    font-size: xx-large;
  }
}
