@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

* {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
body {
  background-image: url(./lorempicsum737.jpg);
  background-size: cover;
}

/* Header/NavBar */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  width: 100%;
  padding: 10px;
}

header h1 {
  color: white;
  margin-left: 0.625rem;
}
header ul {
  display: flex;
  gap: 3em;
  list-style: none;
  margin-right: 1.875rem;
}
header ul a {
  color: white;
}
.mobileNavBar {
  display: none;
}

/* About Page/Homepage */
#about {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
}
#about-me {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: rgb(0, 0, 0, 0.9);
  margin-left: 9%;
  margin-right: 9%;
  padding-bottom: 0.625rem;
  color: white;
}
#about h1 {
  text-align: center;
  margin-bottom: 20px;
  margin-right: 10%;
}
#bio {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.Marianne {
  height: 200px;
  width: 200px;
}
#about p {
  flex-direction: column;
  text-align: justify;
  width: 450px;
  margin-left: 5%;
}

/* Projects Page */
/* Future: Fix style and alignment issues with cards. */
.projectCards {
  background-color: rgb(0, 0, 255, 0.3);
}
.projectCards h1 {
  display: flex;
  margin-bottom: 10px;
  text-align: center;
}

/* Resume Page */
#resume h1 {
  text-align: center;
}

/* Contact Page */
#contact-page {
  background-color: rgb(0, 0, 255, 0.3);
}
.resumeImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Footer */
/* Future: Format footer and its icons. */
footer {
  background-color: rgb(0, 0, 0, 0.4);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  height: 30px;
  font-size: 20px;
}

@media (max-width: 990px) {
  .navBar {
    display: none;
  }
  .mobileNavBar {
    display: flex;
    align-items: center;
    z-index: 99;
  }
  #hamburger {
    position: absolute;
    right: 5%;
    color: white;
    cursor: pointer;
  }
  .mobileNavBar ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 2%;
    top: 15vh;
    width: 20%;
    background-color: rgb(0, 0, 0, 0.9);
  }
  header h1 {
    font-size: xx-large;
  }
}
