@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}
body {
  background-image: url(./lorempicsum737.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

/* Header/NavBar */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  width: 100%;
  padding: 10px;
}
header h1 {
  color: white;
  margin-left: 0.625rem;
}
header ul {
  display: flex;
  gap: 3em;
  list-style: none;
  margin-right: 1.875rem;
}
header ul a {
  color: white;
}
.mobileNavBar {
  display: none;
}

/* About Page/Homepage */
#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2% 10% auto 9%;
}
#about-me {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: rgb(0, 0, 0, 0.9);
  padding: 1.5rem;
  color: white;
  width: fit-content;
}
#about h1 {
  text-align: center;
  margin-bottom: 20px;
}
#bio {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.Marianne {
  max-height: 200px;
  max-width: 200px;
}
#about p {
  flex-direction: column;
  text-align: justify;
  width: 450px;
  margin-left: 5%;
}

/* Projects Page */
/* Future: Fix style and alignment issues with cards. */

#projects h1 {
  display: flex;
  color: black;
  justify-content: center;
  margin-right: 17vh;
}
#projectCards {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  padding: 0;
}
/* Resume Page */
#resume h1 {
  text-align: center;
}

/* Contact Page */
#contact-page {
  background-color: rgb(0, 0, 255, 0.3);
}
.resumeImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Footer */
/* Future: Format footer and its icons. */
footer {
  background-color: rgb(0, 0, 0, 0.4);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  height: 30px;
  font-size: 20px;
}

@media (max-width: 990px) {
  .navBar {
    display: none;
  }
  .mobileNavBar {
    display: flex;
    align-items: center;
    z-index: 99;
  }
  .hamburger {
    position: absolute;
    right: 5%;
    color: white;
    cursor: pointer;
  }
  .mobileNavBar ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 15vh;
    width: 20%;
    background-color: rgba(255, 0, 0, 0.94);
  }
  .mobileNavBar ul a {
    color: black;
    font-size: 1.25em;
  }
  header h1 {
    font-size: xx-large;
  }
}
